.Header {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
}

.Header h1 {
    font-size: 35px;
}

.Header ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.Header li {
    width: 70px;
    height: 70px;
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Header a {
    text-decoration: none;
    color: white;

    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    transition: all 0.2s;
}

.Header a:hover {
    background-color: #80669d;
    border: 0.3px solid black;
    transform: translateY(8px) translateX(-5px);
    box-shadow: 5px -5px 1px 0px rgba(71, 188, 235, 0.39);
}
