
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0px 30px 0px;
    max-width: 100vw;
    height: 100vh;
}

.container {
    width: 95%;
    height: 100%;
    border-radius: 10px;
    
    display: flex;
}

.container article, aside {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    text-align: justify;

    padding: 10% 10%;
}

.container article {
    border-radius: 18px;
    border: 1px solid transparent;
    transition: all 1s ease;
}

.container aside {
    border-radius: 18px;
    border: 1px solid transparent;
    transition: all 1s ease;
}

.container aside:hover{
    box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.7);
    border: 1px solid rgba(88, 181, 224, 0.664);
    transition: all 1s ease;
}

.container article:hover {
    box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.7);
    border: 1px solid rgba(88, 181, 224, 0.664);
    transition: all 1s ease;
}

.container article h2 {
    font-size: 50px;
    font-weight: 400;
}

.container article p, aside p {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .Home {
        width: 100vw;
        height: 100%;

    }

    .container {
        flex-direction: column;
    }

    .container article, aside {
        min-width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 30px;
        line-height: 28px;
        padding: 80px 30px;
    }

    .container article {
        border-radius: 18px;
    }

    .container aside {
        align-items: center;
        height: 100%;
        margin-bottom: 20px;
        border-radius: 18px;
    }
}