.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0px 0px 0px;

    height: 100vh;
}

.container {
    width: 95%;
    height: 100%;
    border-radius: 10px;
    
    display: flex;
}

.container article, aside {
    border: 1px solid rgba(0, 0, 0, 0.226);
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;

    padding: 10% 10%;
    background: #80669d;
}

.container article {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.container aside {
    align-items: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.container article h2 {
    font-size: 50px;
    font-weight: 400;
}

.container article p, aside p {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container article, aside {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 30px;
        line-height: 28px;
        padding: 80px 30px;
    }

    .container article {
        border-top-right-radius: 18px;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 0px;
    }

    .container aside {
        align-items: center;
        height: 100%;
        margin-bottom: 20px;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
        border-top-right-radius: 0;
    }
}