@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: max-content;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    
    font-family: 'Montserrat', sans-serif;
}