@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: max-content;
}

body {
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    
    font-family: 'Nunito', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    border: 1px solid white;

    height: 100%;
}


.Header {
    border: 1px solid blue;
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    position: relative;
    top: 0;

}

.Header h1 {
    font-size: 30px;
}

.Header nav {
    display: flex;
    gap: 20px;
}

.Header a {
    text-decoration: none;
    color: white;
}

.active {
    border-bottom: 0.5px solid white;
}

.Home {
    width: 900px;
    height: 800px;

    border: 1px solid green;
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}

.About {
    width: 900px;
    height: 800px;

    border: 1px solid red;
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}

.Contact {
    width: 900px;
    height: 800px;

    border: 1px solid blue;
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}

.Footer {
    border: 1px solid blue;
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    margin-top: 20px;
    border: 1px solid white;
}